<%= render "shared/flashes"%>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-on-white"}) do |f| %>
  <%= f.error_notification %>
  <h1 class = "header-top-forms">Edit my profile</h1>
  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <%= f.input :full_name,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :notification_time,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :photo, as: :file,
                  hint: "Upload a profile image",
                  required: false %>
    <%= f.input :current_password,
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions d-flex flex-column">
    <%= f.button :submit, "Update" , class: "btns green-btn mb-3" %>
    <%= button_to "Delete", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "white-btn mb-3"%>
  </div>
<% end %>
