<div class="profile-user">
  <% if @user.photo.key %>
      <%= cl_image_tag @user.photo.key, crop: :fill, class:"profile-user-photo" %>
    <% else %>
      <%= image_tag "User.svg.png", class:"profile-user-photo" %>
    <% end %>
  <div class = "profile-user-bottom">
    <p id = "profile-name"><%= @user.full_name %></p>
    <p><%= @user.email %></p>
    <div class = "profile-user-icons mt-4">
      <div class = "profile-user-icon"><i class="fa-solid fa-person-shelter"></i><%= @user.gardens.count %></div>
      <div class = "profile-user-icon"><i class="fa-solid fa-seedling"></i>
      <%= Plant.all.count %>
      </div>
      <div class = "profile-user-icon"><i class="fa-solid fa-face-smile"></i>1</div>
    </div>
    <%= link_to "Edit", edit_user_registration_path, class: "btns green-btn mx-auto mt-4"%>
    <%= link_to "Delete an account", user_registration_path, data: {turbo_method: :delete}, class: "dropdown-item mt-3" %>
  </div>
</div>
