
<%# flex item 1 %>
<div class="profile-user">
  <h4><%= @user.full_name %></h4>
  <% if @user.photo.key %>
    <%= cl_image_tag @user.photo.key, height: 150, width: 150, crop: :fill, class:"avatar" %>
  <% else %>
    <%= image_tag "User.svg.png", class:"avatar" %>
  <% end %>
  <p>E-mail: <%= @user.email %></p>
    <div class="btn-small">
      <%= link_to "Edit profile", edit_user_registration_path %>
    </div>
    <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
</div>
