<div class='navbar-plantaqua'>
  <% if params['controller'] == "users" && params['action'] == 'show' && :back != 'root_path'%>
    <%= link_to user_session_path do %>
        <h1><i class="fa-solid fa-arrow-left"></i></h1>
    <% end %>
  <% else %>
    <%= link_to 'javascript:history.back()' do %>
      <h1><i class="fa-solid fa-arrow-left"></i></h1>
    <% end %>
  <% end %>
  <h1 data-action="click->navigation#display" data-navigation-target="menuIcon"
  class = <%= "d-none" if params['controller'] == "devise/sessions" || (params['controller'] == "users/registrations" && params['action'] == 'new')%>>
  <i class="fa-solid fa-bars" data-navigation-target="menuIconREALLY"></i></h1>
  <div data-navigation-target="menu" class= "d-none menu-visible z-3">
    <ul>
      <li><%= link_to "Gardens", gardens_path%></li>
      <li><%= link_to "Profile", user_session_path %></li>
      <li><%= link_to "FAQ"%></li>
      <li><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %></li>
    </ul>
  </div>
</div>
