
<div class="card-plant-show">
  <img src=<%= @plant.image %> alt="plant image">
  <h2>Name: <%= @plant.name %></h2>
  <p><%= @plant.scientific_name %></p>

  <%# <p>Frequency: <%= @plant.frequency[:] </p>%>

  <%= link_to 'Add plant', new_garden_garden_plant_path(@garden, plant_id: params[:id]), class: 'btns white-btn btn-big' %>



</div>
