
<div class="card-plant-show">
  <img src=<%= @plant.image %> alt="plant image">
  <h2><%= @plant.name %></h2>
  <div class="">
    <p id="scientific_name"><%= @plant.scientific_name %></p>
    <% month = Date.today.strftime("%B") %>
    <p id="frequency">Frequency: <strong><%= @plant.frequency[month.downcase] %></strong> days in <strong><%= month %></strong></p>
    <%= link_to 'Add plant', new_garden_garden_plant_path(@garden, plant_id: params[:id]), class: 'btns white-btn btn-big' %>
  </div>


</div>
