<%= simple_form_for([garden, garden_plant], html: {class: "form-on-green"}) do |f| %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :photo, as: :file,
                  hint: "Upload a plant image",
                  required: false %>
      <%= f.input :last_day %>
      <%= f.input :outdoor%>
      <%= f.hidden_field :plant_id, value: params[:plant_id] %>
    </div>

    <div>
      <% if params['controller'] == 'garden_plants' && params['action'].in?(['edit','update'])%>
        <%= f.button :submit , value: "Update", class: 'btns white-btn mt-4'%>
      <% else %>
        <%= f.button :submit , value: "Add", class: 'btns white-btn mt-4'%>
      <% end %>
    </div>
<% end %>


<% if params['controller'] == 'garden_plants' && params['action'].in?(['edit','update']) %>
<div class= "form-extra-divs">
  <%= button_to 'Delete', @garden_plant, method: :delete, class: "white-btn mt-4"%>
</div>
<% end %>
