<div class="card-plant-show">
  <div class="card-plant-show-top">
    <% if @garden_plant.photo.key %>
      <%= cl_image_tag @garden_plant.photo.key, crop: :fill %>
    <% else %>
      <img src=<%= @garden_plant.plant.image %> alt="plant image">
    <% end %>
    <div class = "white-border-card"></div>
  </div>
  <div class="card-plant-show-bottom">
    <h1 class = "mb-3"><%= @garden_plant.name.capitalize %></h1>
    <p><i class="fa-solid fa-seedling"></i> <%= @garden_plant.plant.name %></p>
    <p>Taking care of plants requires attention and effort. You can find some general tips for plant care here.
    <a href="https://www.bhg.com/search?q=<%= @garden_plant.plant.name %>"><i class="fa-solid fa-circle-info ms-2"></i></a>
    </p>
    <div class = "d-flex flex-row justify-content-start flex-wrap"><h5 class = "m-0 mb-3">Scientific_name : </h5><p class = "mb-3 ps-1"><%= @garden_plant.plant.scientific_name %></p></div>
    <% month = Date.today.strftime("%B") %>
    <div class = "d-flex flex-row justify-content-start flex-wrap"><h5 class = "m-0 mb-3">Frequency :</h5><p class = "mb-3 ps-1">Every <%= @garden_plant.plant.frequency[month.downcase] %> days </div>
    <!--div class = "d-flex flex-row justify-content-start flex-wrap"><h5 class = "m-0 mb-3">Light :</h5><p class = "mb-3 ps-1 mr-2">Requires direct light</p></div-->
    <%= link_to 'Edit', edit_garden_plant_path(@garden_plant), class: 'btns btns white-btn-show' %>
  </div>
</div>
