<%= simple_form_for(@garden, html: {class: "form-on-green"}) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :location %>
    </div>

  <div>
    <%= f.button :submit , class: 'btns white-btn mb-3'%>
    <% if params['controller'] == 'gardens' && params["action"] == "edit" %>
      <%= button_to 'Delete', @garden, method: :delete, class: "white-btn mb-3"%>
    <% end %>
  </div>
<% end %>
