<div class='card-index'>

  <div class="garden-main">
    <h1 class='header-top'>My Gardens</h1>
  </div>

  <div class='card-white'>
    <% if @gardens.count == 0 %>
      <p class="black-text">No gardens</p>
      <p class="black-text">Click the add button to begin!</p>
    <% else %>

      <% @gardens.each do |element| %>
        <%= link_to garden_path(element), class:"card-garden" do %>
          <div class="card-white-bottom ">
            <h2><%= element.name %></h2>
          </div>
          <div class="card-green-bottom">
            <p class="location"><i class="fa-solid fa-location-dot"></i> <%= element.location %></p>
            <p><i class="fa-solid fa-seedling"></i> <%= element.plants.count %></p>
            <p><i class="fa-solid fa-user-group"></i> <%= element.users.count %></p>
          </div>
        <% end %>
      <% end %>

    <% end %>
    <%= link_to new_garden_path, class:'circular-btn' do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  </div>

</div>
