<div class="card-index">

  <div class="garden-main">
    <h1 class="header-top"><%= @garden.name %></h1>
    <div class="position-relative">
      <p><i class="fa-solid fa-location-dot"></i> <%= @garden.location %></p>
      <%= link_to edit_garden_path(@garden), id: "edit-garden-icon" do %>
        <i class="fa-solid fa-hammer"></i>
      <% end %>
    </div>
  </div>

  <div class="card-garden-plant">
    <%= link_to plants_path(garden_id: @garden.id) do %>
      <div class = "card-user-plant">
        <div id = "card-add-plant-image"><i class="fa-solid fa-plus"></i></div>
        <p class="text-center">Add a new plant</p>
      </div>
    <% end %>
    <% @garden.plants.each do |element| %>
        <%= link_to plant_path(element, garden_id: @garden.id), class:"card-user-plant" do %>
            <img src= <%= element.image %> alt="plant">
            <p><%= element.name %></p>
            <div class="water"><p><i class="fa-solid fa-droplet"></i>1 day</p></div>
        <% end %>
    <% end %>
  </div>

  <!--div class='bottom-buttons'>
    <%= link_to 'Add plant', plants_path(garden_id: @garden.id), class: 'btns white-btn btn-big' %>
    <%= link_to 'Edit', edit_garden_path(@garden), class: 'btns white-btn' %>
    <%= button_to 'Delete', @garden, method: :delete, class: 'btns white-btn' %>
  </div-->

</div>

<%# plants_path %>
<%# new_garden_garden_plant_path(@garden) %>
