<% content_for :meta_title, "#{@garden.name} - #{DEFAULT_META["meta_name"]}" %>
<%# <% content_for :meta_description, @restaurant.description %>
<%# <% content_for :meta_image, cl_image_path(@restaurant.photo.key) if @restaurant.photo.attached? %>


<div class="card-index">

  <div class="garden-main">
    <h1 class="header-top"><%= @garden.name %></h1>
    <div class="garden-main-bar">
      <p><%= @garden.location %></p>
      <div>
        <i class="fa-solid fa-user-group"></i>
        <%= link_to edit_garden_path(@garden), id: "edit-garden-icon" do %>
          <i class="fa-solid fa-wrench ms-2"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-garden-plant my-2 px-4">
    <% @plants.each do |element| %>
        <%= link_to garden_garden_plant_path(element, garden_id: @garden.id) do %>
          <% if element.photo.key %>
            <div class="card-user-plant" style = "background-image: url('<%= cl_image_path element.photo.key, crop: :fill %>');">
          <% else %>
            <div class="card-user-plant" style = "background-image: url(<%= element.plant.image %>);">
          <% end %>
            <div class = "card-user-plant-bottom">
              <% month = Date.today.strftime("%B") %>
              <% days = ((element.last_day + element.plant.frequency[month.downcase]) - Date.today).to_i %>
              <div class = "watering ps-3 align-self-end">
                <% if days > 1 %>
                  <p>In <%= days %> days<p>
                <% else %>
                  <p>Tomorrow <p>
                <% end %>
              </div>
              <div class = "name px-3 align-self-start"><p><%= element.name %></p></div>
            </div>
          </div>
        <% end %>
    <% end %>
  </div>
</div>

<%# plants_path %>
<%# new_garden_garden_plant_path(@garden) %>
<!--%= link_to plants_path(garden_id: @garden.id) do %>
  <div class = "card-user-plant">
    <div id = "card-add-plant-image"><i class="fa-solid fa-plus"></i></div>
    <p class="text-center text-uppercase"><strong>Add a new plant</strong></p>
  </div>
<% end %-->
