<!DOCTYPE html>
<html>
  <head>
    <title>Plantagua</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class = "<%= "leaves" if @background == "leaves" %>">
    <%= render "shared/flashes" %>

    <div class = "<%= "container" unless @background == "leaves" %>">
      <%= yield %>
    </div>
  </body>
</html>
