<!DOCTYPE html>
<html>
  <head>
    <title>Plantaqua</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class = "d-flex flex-column vh-100 <%= set_background_class(params) %>" data-controller="navigation" data-action="click->navigation#closeNavigation keydown->navigation#closeNavigation touch->navigation#closeNavigation">
   <!--%= render "shared/flashes"%-->
   <%= render "shared/navbar" unless set_background_class(params) == "leaves" %>
    <div class = "main-container <%= "container " unless set_background_class(params) == "leaves" ||set_background_class(params) == "white-solid" %>">
      <%= yield %>
    </div>
  </body>
</html>
<!--"white-hover" if controller_name == 'sessions') || ("white-solid" if 'users/edit')>
